<form method="post" action="{{ path('superheros_delete', {'id': superhero.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ superhero.id) }}">
    <button class="btn">Delete</button>
</form>
