{% extends 'base.html.twig' %}

{% block title %}Edit Superheros{% endblock %}

{% block body %}
    <h1>Edit Superheros</h1>

    {{ include('superheros/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('superheros_index') }}">Main</a>

    {{ include('superheros/_delete_form.html.twig') }}
{% endblock %}
