{% extends 'base.html.twig' %}

{% block title %}Superheros index{% endblock %}

{% block body %}
    <h1>Superheros index</h1>

    <table class="table" border="2">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nickname</td>
                <td>Real_name</td>
                <td>Origin_description</td>
                <td>Superpowers</td>
                <td>Catch_phrase</td>
                <td>Images</td>
                <td>actions</td>
            </tr>
        </thead>
        <tbody>
        {% for superhero in superheros %}
            <tr>
                <td>{{ superhero.id }}</td>
                <td>{{ superhero.nickname }}</td>
                <td>{{ superhero.realName }}</td>
                <td>{{ superhero.originDescription }}</td>
                <td>{{ superhero.superpowers }}</td>
                <td>{{ superhero.catchPhrase }}</td>
                <td><img src="{{ superhero.images }}" style="max-width: 100px"></td>
                <td>
                    <a href="{{ path('superheros_show', {'id': superhero.id}) }}">show</a>
                    <a href="{{ path('superheros_edit', {'id': superhero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <div class="navigation">
            {{ knp_pagination_render(superheros) }}
        </div>
    </table>

    <a href="{{ path('superheros_new') }}">Create new</a>
{% endblock %}
