{% extends 'base.html.twig' %}

{% block title %}New Superheros{% endblock %}

{% block body %}
    <h1>Create new Superheros</h1>

    {{ include('superheros/_form.html.twig') }}

    <a href="{{ path('superheros_index') }}">back to list</a>
{% endblock %}
