{% extends 'base.html.twig' %}

{% block title %}Superheros{% endblock %}

{% block body %}
    <h1>Superheros</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ superhero.id }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ superhero.nickname }}</td>
            </tr>
            <tr>
                <th>Real_name</th>
                <td>{{ superhero.realName }}</td>
            </tr>
            <tr>
                <th>Origin_description</th>
                <td>{{ superhero.originDescription }}</td>
            </tr>
            <tr>
                <th>Catch_phrase</th>
                <td>{{ superhero.catchPhrase }}</td>
            </tr>
            <tr>
                <th>Superpowers</th>
                <td>{{ superhero.superpowers }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td><img src="{{ superhero.images }}" style="max-width: 300px"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('superheros_index') }}">back to list</a>

    <a href="{{ path('superheros_edit', {'id': superhero.id}) }}">edit</a>

    {{ include('superheros/_delete_form.html.twig') }}
{% endblock %}
